<!doctype html>
<html>
<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    {{>header}}
    
    <main>
        <p>{{errorMsg}}</p>
    </main>

    {{>footer}}
</body>
</html>