<!doctype html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    {{>header}}
    
    <main>
        <img src="/img/laurence-hughes-480.jpg" alt="A photo of Laurence Hughes">
    </main>

    {{>footer}}
</body>
</html>