<!doctype html>
<html>
<head>
    <title>Yo</title>
</head>
<body>
    {{>header}}
    
    <main>
        <img src="/img/laurence-hughes-480.jpg" alt="A photo of Laurence Hughes">
    </main>

    {{>footer}}
</body>
</html>