@supports (display:grid) { 
    html {
        height: 100%;
    }
    body {
        min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
    main {
        min-width: 0;
    }
}

:root {
    color: #222;
    font-family: sans-serif;
}

body {
    max-width: 38em;
    margin: 0 auto;
    padding: 0 1rem;
}

a {
    color: firebrick;
}

img {
    width: 300px;
}

h1 {
    font-size: 4rem;
    margin: 2rem 0 0;
}

nav {
    margin-top: 2rem;
}

nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

nav li+li {
    margin-left: 1rem;
}

main {
    margin-top: 2rem;
}

footer {
    border-top: 1px solid #eee;
    color: #888;
    margin-top: 5rem;
}

label {
    display: block;
}

input {
    border: 1px solid #ccc;
    padding: .5rem;
}

button {
    border: 1px solid #888;
    background-color: #888;
    color: #fff;
    padding: .5rem;
}